@import url ("https://fonts.googleapis.com/css?family=Lora" rel="stylesheet");



h1{
	font-weight:bold;
	font-family: 'Lora', serif;
	font-size: 50px;
	text-decoration:underline;
	text-align: center;
}

/*Header*/
.navigation{
	font-size: 16px;
	top:0;
	width:100%;
}

.bgimg {
    background-position:center;
    background-size: cover;
    min-height: 75%;
}

.col-sm-4, .col-sm-6, .col-sm-12{
	text-align:center;

}

.navigation:hover{
  font-weight: bold;

}

a:visited {
	color: #E2B13C;
}

a:link{
	padding-left: 8;
}

.footer{
	font-size: 16px;
	position:fixed;
	width: 100%;
	text-align:center;
}